* , *::before , *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
}

body main {
    background-color: linea;
}
main div.Calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows:minmax(120px, auto)repeat(5,100px);
}

main div.Calculator button {
    cursor: pointer;
    font-size: 2rem;
    background-color: rgb(2, 175, 216);
}

main div.Calculator div.display {
    grid-column: 1 / -1;
    background: rgb(0, 50, 39);
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
    padding:10px;
    word-wrap: break-word;
    word-break: break-all;
}

main div.Calculator div.display div.pre {
    color: rgb(255,255,255, .75);
    font-size: 2rem;
}

main div.Calculator div.display div.post {
    color: rgb(255,255,255, .75);
    font-size: 2rem;
}

main div.Calculator button.AC {
    grid-column: span 2;
}